<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059312799046-25dnhgdnueuh5bdt5fbo2u806econv4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059312799046-25dnhgdnueuh5bdt5fbo2u806econv4t</string>
	<key>API_KEY</key>
	<string>AIzaSyCDdheExYOkq5ZZfxWZFjK3e7CxZMCeC58</string>
	<key>GCM_SENDER_ID</key>
	<string>1059312799046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mebs.fitta</string>
	<key>PROJECT_ID</key>
	<string>fittamebs</string>
	<key>STORAGE_BUCKET</key>
	<string>fittamebs.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059312799046:ios:10bbc62d9dca414d74e947</string>
</dict>
</plist>